:root {
    --winnercolor: rgba(237, 93, 36, 1);
}

html {
    width: 800px;
    height: 660px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: ClubLadder, Helvetica, sans-serif;
    color: var(--ladder-text);
    text-transform: uppercase;
    box-sizing: border-box;
}

.fill {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}
.d-none{
    display:none!important;
}

.topBar {
    width: 100%;
    height: 100px;
    display: flex;
    background: var(--bg-grey-bg);
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    /* background: radial-gradient(ellipse at center bottom, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0) 100%); */
    /* color: white; */
}
.topBar section {
    line-height: auto;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
}
.midbarimg {
    height: 90px;
    margin-top: 5px;
}
.SplashHomeTeam {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 380px;
    width: 100%;
    padding: 0;
    padding-right: 10px;
}
.SplashAwayTeam {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 380px;
    width: 100%;
    padding: 0;
    padding-left: 10px;
}
.riderParade {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 200px;
    font-size: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
.riderHide {
    transition: all 0.5s ease-in-out;
    opacity: 0;
}
.small {
    font-size: 9px;
}
.riderParade div {
    padding: 30px;
    border-radius: 30px;
    background: rgba(4, 63, 79, 0.5);
    color: white;
}

.homeScore, .awayScore {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    /* border-radius  : 50%; */
    font-size: 50%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    margin: 0;
    /* margin-left    : 0px;
    margin-right   : 0px; */
    justify-content: center;
    align-items: center;
}
.homeScore {
    margin-right: 0;
    background: var(--ladder-secondary-bg);
    color: var(--homeText);
}
.awayScore {
    margin-left: 0;
    background: var(--ladder-tertiary-bg);
    color: var(--awayText);
}

.topBar section.homeScore {
    font-size: 40px;
}
.topBar section.awayScore {
    font-size: 40px;
}

.rider {
    height: 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5px;
    /* border         : 1px solid; */
    transition: 0.5s ease;
}
.rider div {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    align-items: center;
}

.scoreList {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    /* align-items: center; */
}
.rider .position {
    width: 100px;
    margin: 0;
    line-height: 40px
}
.rider .score {
    width: 50px;
    margin: 0;
    line-height: 40px
}
.rider .name {
    width: 100%;
    margin: 0;
    line-height: 40px
}
.homeRider .forAway {
    visibility: hidden;
}
.awayRider .forHome {
    visibility: hidden;
}
.name.forHome, .score.forHome {
    background: var(--ladder-secondary-bg);
}
.name.forAway, .score.forAway {
    background: var(--ladder-tertiary-bg);
}
.name {
    font-weight: bolder;
    font-size: 20px;
    overflow: clip;
}
.name.forHome {
    /* border-top-right-radius   : 10px;
    border-bottom-right-radius: 10px; */
}
.name.forAway {
    /* border-top-left-radius   : 10px;
    border-bottom-left-radius: 10px; */
}
.score.forHome {
    /* border-top-left-radius   : 10px;
    border-bottom-left-radius: 10px; */
    font-weight: bolder;
    font-size: 25px;
}
.score.forAway {
    /* border-top-right-radius   : 10px;
    border-bottom-right-radius: 10px; */
    font-weight: bolder;
    font-size: 25px;
}
.position {
    font-weight: bold;
    color: white;
    /*rgba(255,255,255,0.75);*/
    font-size: 18px;
}
.hide {
    display: none;
}
.winning {
    color: var(--winnercolor);
    font-weight: bold;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
}
.losing {}
.move {
    -webkit-app-region: drag;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: min(1vw, 1.778vh);
    -webkit-app-region: drag;
}
main>p {
    font-size: 3em;
    text-align: center;
}

.delayed {
    opacity: 0.5;
}
.groupEdge {
    border-bottom: 4px solid rgba(255, 255, 255, 0.6);
    margin-bottom: 4px;
}
.cover {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0);
    z-index: -1;
}
.cover:hover {
    background: rgba(0, 0, 0, 0.5) !important;
}

.headOfGroup{
    border-top : 3px solid teal;
}
.rearOfGroup{
    border-bottom : 2px solid white;
}
