html[data-theme="mod-example"] {
    font-family: monospace;

    --theme-base-color: #ff1300;

    --theme-fg-light: 10%;
    --theme-fg-shade-dir: 1;

    --theme-bookend-hue: 10;
    --theme-bookend-sat: 100%;
    --theme-bookend-light: 30%;

    --theme-bg-hue: 118;

    --theme-bg2-hue: 148;
    --theme-bg2-sat: 98%;
    --theme-bg2-light: 69%;

    --theme-following-hue: 0;
    --theme-following-sat: 100%;
    --theme-following-light: 40%;
    --theme-following-shade-dir: 1;

    --theme-primary-hue: 235;

    --theme-button-bar-top-left: #eb0101de;
    --theme-button-bar-bottom-right: #782f00de;
}
